body{
    margin:0;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.pg-header{
    height: 48px;
    background-color: #5690D2;
    line-height: 48px;
}
.logo{
    color: white;
    width: 200px;
    text-align: center;
    font-size: 30px;
    background-color: #2a6496;
}
.pg-header-item{
    padding: 0 30px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}
.pg-left{
    position: absolute;
    width: 200px;
    top: 52px;
    left: 0;
    bottom: 0;
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}
.pg-left-item{
    cursor: pointer;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    border-bottom: 1px dashed #d2d2d2;
}
.pg-right{
    position: absolute;
    top: 52px;
    left: 204px;
    right: 0;
    bottom: 0;
    border-top: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
}
.edit-content{
    margin: 20px;
}
.pg-edit-title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.float-left-i{
    float: left;
    display: inline-block;
    font-size: 30px;
}
.form-group-i{
    float: right;
    padding: 10px;
    padding-right: 40px;
    margin-bottom: 50px;
}