body{
    margin:0;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.pg-header{
    height: 48px;
    background-color: #5690D2;
    line-height: 48px;
}
.pg-header-h{
    margin: 0 auto;
    width: 1200px;
    height: 48px;
}

.logo{
    margin-left:15px;
    color: white;
    text-align: center;
    font-size: 20px;
}
.pg-header-item{
    padding: 0 10px;
    cursor: pointer;
    color: white;
}

.content{
    color: #999999;
    padding: 20px 30px;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px dashed #e4e4e4;
}
.content-item{
    margin: 10px;
}
.bcolor-white{
   background-color: white;
}
.pg-left{
    border: 1px solid #e4e4e4;
    background-color: white;
    padding: 20px;
    width: 260px;
    /*border: 1px solid #777777;*/
}
.pg-right{
    margin: 0 10px;
}
.pg-header-backcolor{
    background-color: white;
}
.pg-header-item-i{
    color: black;
}
.content-item-1{
    margin-bottom: 20px;
}

.content-item-1 div{
    padding-bottom: 10px;
    padding-right: 40px;
}
.content-header{

}
.content-header .content-header-item{
    border-bottom: 2px solid #5690D2;
    border-right: 1px dashed #5690D2;
}
.content-header div a{
    display: inline-block;
    width: 149px;
    text-align: center;
    height: 45px;
    line-height: 45px;
}
.content-header div a:hover{
    cursor: pointer;
}
.content-header .active{
    background-color: #dcdcdc;
    font-size: 20px;
}
.content-header .active a{
    color: black;
}
.content-header-item-s{
    padding: 3px 8px;
    margin: 3px 5px;
    border: 1px solid brown;
}
.active-i{
    background-color: brown;
}
.active-i a{
    color: white;
}