.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.avatar-container {
    height: 180px;
    width: 180px;
    padding: 2px;
    /*border: 1px solid #dddddd;*/
    /*overflow: hidden;*/
    position: relative;
}

.avatar-container img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.avatar-container .text {
    text-align: center;
}
.img-file {
    width: 180px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    z-index: 102;
}
.form-group{
    margin: 50px;
}
.text{

}