{% extends 'blog_layout.html' %}
{% load customfuntions %}




{% block content %}


    <div style="width: 1200px;position: relative;margin: 0 auto">
        <div class="pg-right float-left" style="width: 900px;margin-right: 30px;background-color: white">
            <div class="content-header">
                <div>
                    {% if arg_dic.article_type_id == 0 %}
                        <div class="content-header-item active" style="float: left"><a href="/{{ blog.site }}-0-{{ arg_dic.category_id }}.html">全部</a></div>
                    {% else %}
                        <div class="content-header-item" style="float: left"><a href="/{{ blog.site }}-0-{{ arg_dic.category_id }}.html">全部</a></div>
                    {% endif %}
                    {% for row in article_type_list %}
                        {% if row.0 == arg_dic.article_type_id %}
                            <div class="content-header-item active" style="float: left"><a href="/{{ blog.site }}-{{ row.0 }}-{{ arg_dic.category_id }}.html">{{ row.1 }}</a></div>
                        {% else %}
                            <div class="content-header-item" style="float: left"><a href="/{{ blog.site }}-{{ row.0 }}-{{ arg_dic.category_id }}.html">{{ row.1 }}</a></div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div style="clear: both"></div>
            </div>


            {% for row in articles %}
                <div class="content bcolor-white">
                    <div class="" style="font-size: 20px;font-weight: bold"><a style="color: black" href="/{{ blog.site }}/{{ row.nid }}.html">{{ row.title}}</a> <span class="float-right" style="font-size: 15px;margin-right: 20px">#{{ forloop.counter0 | add:page_start | subnum:data_count  }}</span></div>
                    <div class="content-item">{{ row.summary }}</div>
                    <div class="content-item-1">
                        <div class="float-left">{{ row.create_time | date:"Y-m-d H:i:s"}}</div>
                        <div class="float-left"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;&nbsp;{{ row.up_count }}</div>
                        <div class="float-left"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;{{ row.read_count }}</div>
                        <div class="float-left"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ row.comment_count }}</div>
                    </div>
                </div>
            {% endfor %}
            <div style="height: 80px;text-align: center;background-color: white;font-size: 16px;color: #999999;padding-top: 20px">
                {% include 'fenye.html' %}
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="float-left">
            <div class="pg-left" style="border-bottom: 1px solid #e4e4e4">
                <div style="margin-bottom: 10px">用户名：{{ userinfo.username }}</div>
                <div style="margin-bottom: 20px">昵称：{{ userinfo.nickname }}</div>
                <div>
                    <div class="float-left" style="margin: 0 20px;text-align: center">
                        <div>文章</div>
                        <div style="font-weight: bold">{{ articles_count }}</div>
                    </div>
                    <div class="float-left" style="margin: 0 20px;text-align: center">
                        <div>粉丝</div>
                        <div>289</div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div style="margin-top: 10px;padding: 10px;border: 1px dashed #bdb7bf;height: 100px;">
                    <div style="text-align: center;font-size: 15px;font-weight: bold;color:#a10600 "><人生格言></div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;热爱科技，立志成为程序员的扫地少年。</div>
                </div>
            </div>
            <div class="pg-left" style="margin-top: 20px">
            <div style="text-align: center;margin-bottom: 10px">文章分类</div>
                <div>
                    {% if arg_dic.category_id == 0 %}
                        <div class="content-header-item-s active-i" style="float: left"><a href="/{{ blog.site }}-{{ arg_dic.article_type_id }}-0.html">全部</a></div>
                    {% else %}
                        <div class="content-header-item-s" style="float: left"><a href="/{{ blog.site }}-{{ arg_dic.article_type_id }}-0.html">全部</a></div>
                    {% endif %}
                    {% for row in category_list %}
                        {% if row.nid == arg_dic.category_id %}
                            <div class="content-header-item-s active-i" style="float: left"><a href="/{{ blog.site }}-{{ arg_dic.article_type_id }}-{{ row.nid }}.html">{{ row.title }}</a></div>
                        {% else %}
                            <div class="content-header-item-s" style="float: left"><a href="/{{ blog.site }}-{{ arg_dic.article_type_id }}-{{ row.nid }}.html">{{ row.title }}</a></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div style="clear: both"></div>

            </div>
            <div class="pg-left" style="margin-top: 20px">
                <div style="padding-bottom: 10px;border-bottom: 1px dashed #bdb7bf;font-size: 16px"><div style="float: left;width: 4px;height: 20px;background-color: #a10600"></div>&nbsp;&nbsp;阅读排名</div>
                {% for row in read  %}
                    <div style="margin-top: 10px">
                        <a href="/{{ blog.site }}/{{ row.nid }}.html" style="color: black">{{ row.title }}</a>
                    </div>
                    <div style="font-size: 12px;color: #999999"><i class="fa fa-book" aria-hidden="true">{{ row.read_count }}</i></div>
                {% endfor %}
            </div>
            <div class="pg-left" style="margin-top: 20px">
                <div style="padding-bottom: 10px;border-bottom: 1px dashed #bdb7bf;font-size: 16px"><div style="float: left;width: 4px;height: 20px;background-color: #a10600"></div>&nbsp;&nbsp;热门文章</div>
                {% for row in hot  %}
                    <div style="margin-top: 10px">
                        <a href="/{{ blog.site }}/{{ row.nid }}.html" style="color: black">{{ row.title }}</a>
                    </div>
                    <div style="font-size: 12px;color: #999999"><i class="fa fa-thumbs-o-up" aria-hidden="true">{{ row.up_count }}</i></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
