

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    {% block link %}
    {% endblock %}
</head>

{% if request.session.user_info.blog__theme %}
<body style="background-image: url(/static/imgs/back-image/{{ request.session.user_info.blog__theme }}.jpg) ">
{% else %}
<body style="background-image: url(/static/imgs/back-image/1.jpg) ">
{% endif %}

{% block haeder %}
<div class="pg-header pg-header-backcolor">
    <div class="pg-header-h">
        <img src="/static/imgs/logo/3.jpg" style="width: 45px;height: 45px;float: left;margin-left: 20px">
        <div class="logo float-left pg-header-item-i">{{ blog.title }}</div>
        {% if request.session.user_info.username %}
            <a href="/out/"><div class="pg-header-item float-right pg-header-item-i">退出</div></a>
            <a href="/bm/"><div class="pg-header-item float-right pg-header-item-i">我的博客管理</div></a>
        {% else %}
            <a href="/login/"><div class="pg-header-item float-right pg-header-item-i">登录</div></a>
        {% endif %}

        <a class="pg-header-item" href="/"><div class="pg-header-item float-right pg-header-item-i">首页</div></a>
    </div>
</div>
<div style="border: 1px solid #bdb7bf"></div>
<div style="height: 70px"></div>
{% endblock %}


{% block content %}

{% endblock %}

</body>
</html>